SuperCoolMineSweeper/.gradle
SuperCoolMineSweeper/.idea
SuperCoolMineSweeper/app/app.iml
SuperCoolMineSweeper/app/build
SuperCoolMineSweeper/build
SuperCoolMineSweeper/SuperCoolMineSweeper.iml
SuperCoolMineSweeper/local.properties